.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 600px;
    height: 600px;
    border: 2px solid #333;
    margin: 0 auto;
}

.cell-chess {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.cell-chess:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cell-chess:active {
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
.config {
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece {
    width: 3em;
    height: 3em;
}

.light-chess {
    background-color: #f0d9b5;
}

.dark-chess {
    background-color: #b58863;
}
