.unauthorized-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 0 20px;
    text-align: center;
}

.unauthorized-content {
    background: #ffffff;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.unauthorized-content h1 {
    margin-bottom: 20px;
    color: #ff4757;
    font-size: 2em;
}

.unauthorized-content p {
    font-size: 1.2em;
    color: #333333;
}
